parameters:
    level: 'max'
    paths:
        - 'tests'
    symfony:
        container_xml_path: './var/cache/test/App_KernelTestDebugContainer.xml'
        console_application_loader: './build/phpstan/console-loader.php'
    doctrine:
        objectManagerLoader: './build/phpstan/doctrine-orm-bootstrap.php'
    bootstrapFiles:
        - './bin/.phpunit/phpunit-9.2-0/vendor/autoload.php'
    excludes_analyse:
        - './tests/bootstrap.php'
    ignoreErrors:
#        - '#^Service "[^"]+" is private.$#'
        - '#^Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy<[^"]+>::[^"]+.$#'
