parameters:
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
        console_application_loader: '%rootDir%/../../../build/phpstan/console-loader.php'
    doctrine:
        objectManagerLoader: '%rootDir%/../../../build/phpstan/doctrine-orm-bootstrap.php'
    excludes_analyse:
        - '%rootDir%/../../../src/Migrations/*'
