parameters:
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/test/App_KernelTestDebugContainer.xml'
        console_application_loader: '%rootDir%/../../../build/phpstan/console-loader.php'
    doctrine:
        objectManagerLoader: '%rootDir%/../../../build/phpstan/doctrine-orm-bootstrap.php'
    autoload_files:
        - '%rootDir%/../../../bin/.phpunit/phpunit-7.5-0/vendor/autoload.php'
