[mysqld]

# Basic Settings
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
symbolic-links = 0

# Fine Tuning
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
tmp_table_size = 512M
max_heap_table_size = 512M

# Query Cache
query_cache_limit = 1M
query_cache_size = 16M

# InnoDB
innodb_buffer_pool_size=1024M

# Character Sets
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci

!includedir /etc/mysql/conf.d/
